{%- macro search_entity(domen_or_group = '', search='', search_attr='entity_id', device_class=[], state=[], not_entity=[], integration='', map_attr='entity_id', join_text=', ', group=None, area_name=False, count=False, opt_attr=None, opt_attr_name='') -%}

{%- if '.' in domen_or_group -%}
    {%- set var_obj = expand(domen_or_group) -%}
{%- elif domen_or_group != '' -%}
    {%- set var_obj = states[domen_or_group] -%}
{%- else -%}
    {%- set var_obj = states -%}
{%- endif -%}

{%- if search != '' -%}
    {%- set var_obj = var_obj | selectattr(search_attr, 'search', search ) -%}
{%- endif -%}

{%- if not_entity != [] -%}
    {%- set var_obj = var_obj | rejectattr('entity_id', 'in', not_entity) -%}
{%- endif -%}

{%- if device_class != [] -%}
    {%- set var_obj = var_obj | selectattr('attributes.device_class', 'defined') 
                        | selectattr('attributes.device_class', 'eq', device_class) -%}
{%- endif -%}

{%- if opt_attr == True -%}
    {%- set var_obj = var_obj | selectattr('attributes.'+opt_attr_name, 'defined') -%}
{%- elif opt_attr == False -%}
    {%- set var_obj = var_obj | rejectattr('attributes.'+opt_attr_name, 'defined') -%}
{%- endif -%}

{%- if integration != '' -%}
    {%- set var_obj = var_obj | selectattr('entity_id', 'in', integration_entities(integration)) -%}
{%- endif -%}

{%- if state != [] -%}
    {%- set var_obj = var_obj | selectattr('state', 'eq', state) -%}
{%- endif -%}

{%- if group == True -%}
    {%- set var_obj = var_obj | selectattr('attributes.entity_id', 'defined') -%}
{%- elif group == False -%}
    {%- set var_obj = var_obj | rejectattr('attributes.entity_id', 'defined') -%}
{%- endif -%}

{%- set var_obj = var_obj | map(attribute=map_attr) -%}

{%- if area_name -%}
    {%- set var_obj = var_obj | map('area_name') -%}
{%- endif -%}

{%- set var_obj = var_obj | unique | list -%}

{%- if count -%}
    {{- var_obj | count -}}
{%- else -%}
    {{- var_obj | join(join_text) -}}
{%- endif -%}

{%- endmacro -%}
